.display {
  margin: 10px 10px;
  height: 40px;
  width: 230px;
  font-size: larger;
  font-weight: 800;
  border-radius: 10px;
  background-color: rgb(243, 237, 237);
  border: none black;
  outline: none;
}
